
body{
	background:#ddd;
	padding:0;
	margin:0;
	height: 100vh;
}

h1{
	font-family: "Source Sans Pro", Calibri, Arial, sans-serif;
	background: #00f;
	margin: 0 ;
	text-align: center;
	line-height: 100px;
}